<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member.dao.memberMapper">
	<sql id="member-select">
		select 	id,
					password,
					name,
					email,
					to_char(to_date(join_date, 'yyyymmdd'), 'yyyy-mm-dd') join_date
		from		member			
	</sql>
	
	<resultMap type="member" id="member-resultmap">
		<id column="id" property="id"/>
		<result column="password" property="password"/>
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		<result column="join_date" property="joinDate"/>		
	</resultMap>
	
	<select id="selectMemberById" parameterType="string" resultMap="member-resultmap">
		<include refid="member-select"/>
		where	id=#{id}
	</select>
	
	<select id="selectAllMember" resultMap="member-resultmap">
		<include refid="member-select"/>
	</select>
	
	<insert id="insertMember" parameterType="member">
		insert into member (id, password, name, email, join_date)
		values (#{id}, #{password}, #{name}, #{email}, to_char(sysdate, 'yyyymmdd'))
	</insert>
	
	<update id="updateMember" parameterType="member">
		update member
		set		password=#{password},
					name=#{name},
					email=#{email}
		where	id=#{id}
	</update>
	
	<delete id="deleteMemberById" parameterType="string">
		delete from member where id=#{id}
	</delete>

</mapper>
